@import '../../../../global/variables.scss';

.my-profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  .data {
    width: 70vw;
    height: 80vh;
    padding: 5vh 5vw;
    .inputs {
      margin-top: 20px;
      width: 100%;
      height: 20vh;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      justify-items: flex-start;
      align-items: center;
      .input-text {
        width: 90%;
        grid-column: 1;
        grid-row: 1;
      }
      .input-password-contain {
        width: 90%;
        grid-column: 1;
        grid-row: 2;
        .input-password {
          width: 100%;
        }
      }
      .main-button {
        &:nth-child(2){
          padding: 0 10px;
          grid-column: 2;
          grid-row: 1;
        }
        &:nth-child(4){
          padding: 0 10px;
          grid-column: 2;
          grid-row: 2;
        }
      }
    }
    .radio-buttons-container{
      margin-top: 30px;
    }
  }
}