@import '../../../global/variables.scss';

.ghost-button {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  color: $white;
  font-size: 1.2em;
  padding: 5px 10px;
  transition: 100ms;
  &:focus{
    outline: none;
  }
  &:hover{
    background: $white;
    color: $black;
  }
}