@import '../../../global/variables.scss';

.home{
  width: 90vw;
  height: 80vh;
  padding: 5vh 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .workshops-in-home{
    height: 80vh;
    width: 20vw;
    padding: 0;
    position: relative;
    .workshops-header{
      width: 100%;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: $white;
      .subtitle-one{
        margin-right: 10px;
      }
      img{
        width: 15px;
      }
    }
    .workshops-list-container{
      height: calc(100% - 25px);
      max-height: calc(100% - 25px);
      width: 15vw;
      padding-right: 5vw;
      border-right: 1px solid $gray;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        width: 10px;
        background-color: $white;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $gray;
        border-right: 1px solid $white;
      }
      .empty-image{
        display: block;
        margin: 0 auto;
        width: 100px;
        margin-top: calc(40vh - 25px - 50px);
      }
    }
  }
  .news-in-home{
    height: 80vh;
    width: 70vw;
    padding: 0 2.5vw;
    .subtitle-one{
      height: 25px;
    }
    .notify-list-container{
      height: calc(80vh - 25px);
      width: 70vw;
      border-right: 1px solid $gray;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        width: 10px;
        background-color: $white;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $gray;
        border-right: 1px solid $white;
      }
      .empty-image{
        display: block;
        margin: 0 auto;
        height: 30vh;
        margin-top: calc(40vh - 25px - 15vh);
      }
      .new-student, .event, .observation{
        width: 90%;
        box-shadow: 5px 5px 5px 0 $gray;
        height: 15vh;
        border: 1px solid $gray;
        padding: 2.5vh 2.5%;
        margin-bottom: 5vh;
      }
      .new-student{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .data-student{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          height: 100%;
          .bottom-part{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            span{
              &:nth-child(1){
                margin-bottom: 10px;
              }
            }
          }
        }
        img {
          height: 100%;
        }
      }
      .observation, .event{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .data-observation, .data-event{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          height: 100%;
          .bottom-part{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            span{
              &:nth-child(1){
                margin-bottom: 10px;
              }
            }
          }
        }
        p{
          width: 60%;
          height: 100%;
        }
      }
    }
  }
}