$primary: #eb3030;
$primary-dark: #ab2121;

$white: #ffffff;
$black: #15080b;
$gray: #707070ab;

$bad-color: #cf2142e8;
$bad-dark-color: #871010e8;
$good-color: #009acae8;
$good-dark-color: #004576e8;