@import '../../../global/variables.scss';

.students{
  width: 90vw;
  height: 80vh;
  padding: 5vh 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .students-header{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .selects-container{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .subtitle-one{
        &:nth-child(1){
          margin: 0 10px 0 0;
        }
        &:nth-child(3){
          margin: 0 10px 0 5vw;
        }
      }
    }
  }
  .students-main{
    width: 100%;
    height: calc(100% - 25px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .new-student{
      height: 80%;
      width: 30%;
      position: relative;
      .card {
        width: calc(100% - 46px);
        height: calc(100% - 38px);
        min-width: 230px;
      }
      .subtitle-one{
        width: calc(100% - 20px);
        text-align: center;
        position: absolute;
        bottom: 5%;
        left: 0;
      }
    }
    .cards-container{
      width: calc(70% - 20px);
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-y: scroll;
      overflow-x: hidden;
      flex-wrap: wrap;
      border-right: 1px solid $gray;
      padding: 0 20px 0 0;
      &::-webkit-scrollbar{
        width: 10px;
        background: $white;
      }
      &::-webkit-scrollbar-thumb{
        background: $gray;
        border-right: 1px solid $white;
      }
      .card{
        flex: 1;
      }
    }
  }
}