@import '../../../global/variables.scss';

.main-button{
  background: $primary;
  color: $white;
  font-size: 1.3em;
  font-weight: 500;
  border: 1px solid $primary;
  transition: 0.1s;
  padding: 5px 10px;
  &:focus{
    outline: none;
  }
  &:hover{
    background: $primary-dark;
  }
}