@import '../../../global/variables.scss';

.new-event{
  width: 60vw;
  padding: 20px 5vw;
  box-shadow: 5px 5px 10px #0009;
  height: 30vh;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 40% 60%;
  .one{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .two{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .text-area{
      height: 70%;
      width: 100%;
    }
  }
  .three{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .date-month-picker{
      .calendar-container{
        right: 0;
        left: auto;
      }
    }
  }
  .four{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .red-ghost-button{
      margin-right: 3vw;
    }
  }
  .workshops{
    width: 100vw;
    height: 100vh;
    background-color: #0008;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 0.3s ease-in-out;
    &.active{
      visibility: visible;
      opacity: 1;
    }
    &.hide{
      visibility: hidden;
      opacity: 0;
    }
    .close-workshops{
      position: absolute;
      width: 90px;
      height: 20px;
      padding: 5px 0;
      right: 25vw;
      bottom: 90vh; 
      background-color: $primary;
    }
    .view{
      position: absolute;
      top: 10vh;
      left: 25vw;
      background-color: $white;
      width: 40vw;
      padding: 5vh 5vw;
      height: 70vh;
      z-index: 10;
      overflow-x: hidden;
      overflow-y: visible;
      flex-wrap: wrap;
      display: grid;
      display: flex;
      flex-wrap: wrap;
      &::-webkit-scrollbar{
        width: 10px;
        background-color: $white;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $gray;
        border-right: 1px solid $white;
      }
      .check-box-group{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .check-box{
          width: calc(100% / 5);
          margin: 5px 0;
        }
      }
    }
  }
}