@import '../../../global/variables.scss';

.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .calendar-header {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .calendar-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 95%;
    .main-top{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-right: 1px solid $gray;
      border-bottom: 1px solid $gray;
      border-top: 1px solid $gray;
      width: 100%;
      height: 10%;
      .days-week{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: calc(100% / 7 - 1px);
        text-align: center;
        border-left: 1px solid $gray;
      }
    }
    .main-bottom{
      padding: 0 0 4px 0;
      margin-top: 10px;
      width: 100%;
      height: calc(90% - 10px);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      border-color: $gray;
      .month {
        padding: 2px 0 2px 2px;  
        height: 46px;
        width: calc( 100% / 7 - 3px );
        border-left: 1px solid $gray;
      }
    }
  }
}