@import '../../../global/variables.scss';

.assistance {
  width: 70vw;
  height: 80vh;
  padding: 5vh 15vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  .assistance-header{
    width: 100%;
    height: 9vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: start;
    align-items: end;
    padding: 0 0 2px 0;
  border-bottom: 2px solid $black;
    .select{
      grid-row: 1;
      grid-column: 1;
    }
    .subtitle-one{
      &:nth-child(2){
        grid-row: 1;
        grid-column: 2;
        display: block;
        margin-left: auto;
      }
      &:nth-child(3){
        grid-row: 2;
        grid-column: 1;
        width: fit-content;
      }
    }
  }
  .assistance-body{
    max-height: 70vh;
    height: 70vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid $black;
    &::-webkit-scrollbar{
      width: 10px;
      background-color: $white;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $gray;
      border-right: 1px solid $white;
    }
    .row{
      width: 98%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-width: 1px 1px 1px 0;
      border-color: $black;
      border-style: solid;
      margin-bottom: 2px;
      //transition: 0.2s ease-out;
      &:hover{
        background-color: $gray;
        .subtitle-one{
          color: $white;
        }
      }
      .come-in{
        width: 30px;
        height: 30px;
        border-width: 0 1px;
        border-style: solid;
        border-color: $black;
        transition: 0.15s ease-out;
        position: relative;
        &:before{
          position: absolute;
          top: 4px;
          left: 4px;
          content: '';
          width: 22px;
          height: 22px;
          transition: 0.15s ease-out;
          border-radius: 2px;
        }
        &.true{
          &:before{
            background-color: $primary;
          }
        }
        &.false{
          &:before{
            background-color: $white;
          }
        }
      }
      .subtitle-one{
        margin-left: 10px;
        //transition: 0.2s ease-out;
      }
    }
  }
}