@import '../../../global/variables.scss';

.assistance {
  width: 90vw;
  height: 80vh;
  padding: 5vh 5vw;
  overflow: hidden;
  .assistance-header{
    width: 100%;
    height: 8vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    .select{
      grid-row: 1;
      grid-column: 1;
    }
    .subtitle-one{
      &:nth-child(2){
        grid-row: 1;
        grid-column: 2;
        display: block;
        margin-left: auto;
      }
      &:nth-child(3){
        grid-row: 2;
        grid-column: 1;
        width: fit-content;
      }
    }
  }
}