@import '../../../global/variables.scss';

.side-bar {
  width: 18vw;
  height: 90vh;
  padding: 5vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 3px 0 $gray;
  img {
    width: 70%;
  }
  .red-ghost-button{
    margin-top: 40px;
  }
}