@import '../../../global/variables.scss';

.side-bar {
  width: 18vw;
  height: 90vh;
  padding: 5vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 3px 0 $gray;
  .pick-image {
    width: 13vw;
    height: 13vw;
    input {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .subtitle-one {
    margin-top: 3vh;
  }
  .red-ghost-button{
    margin-top: 40px;
  }
}