@import '../../../global/variables.scss';

.card{
  width: 190px;
  height: 250px;
  min-width: 190px;
  min-height: 250px;
  padding: 14px 13px;
  position: relative;
  box-shadow: 1px 1px 3px 0 $gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 0.5px solid $gray;
  margin: 0 20px 10px 0;
  .more-options-button{
    height: 7%;
    position: absolute;
    right: 2%;
    top: 2%;
  }
  .image-profile{
    width: 70%;
    margin: 0 auto;
  }
  .name{
    margin: 2.5px 0;
    font-size: 1em;
  }
  .info{
    margin: 2.5px 0;
    font-size: 1em;
  }
}